<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button class="backButton" defaultHref="login"></ion-back-button>
      <ion-title style="text-align: center;">{{ email }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Marcar asistencia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="asist">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Mi asistencia</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
