<ion-content>
	<!--Header & Logo Duoc-->
	<ion-card-header class="header">
		<div class="p-5">
			<img src="/assets/images/logo2.png" width="250" class="rounded mx-auto d-block" alt="">
		</div>
	</ion-card-header>
	<!--Body-->
	<div class="fondo">
		<ion-grid>
			<div class="fondo__space" style="margin-bottom: 272px">

				<h1 class="sombraTi">Bienvenido a</h1>
				<img src="/assets/images/logoApp.png" class="logoApp">
				<h3 class="sombraSubTi">Ingrese sus datos:</h3>
				<!--form validaciones-->
				<form #form="ngForm" (ngSubmit)="login()" [formGroup]="loginForm">
					<div class="input-group">

						<!--Correo-->
						<ion-card class="input">
							<ion-input type="email" placeholder="Ingrese su Correo" formControlName="email"></ion-input>
						</ion-card>
						<div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
							<span *ngIf="email.errors?.required">El correo es obligatorio</span>
							<span *ngIf="email.errors?.email">El correo es invalido</span>
						</div>

						<!--Contraseña-->
						<ion-card class="input">
							<ion-input type="password" placeholder="Ingrese su Contraseña" formControlName="password"></ion-input>
						</ion-card>
						<div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
							<span *ngIf="password.errors?.required">La contraseña es obligatoria</span>
							<span *ngIf="password.errors?.minlength">La contraseña debe ser de al menos 6
								carácteres</span>
							<span *ngIf="password.errors?.maxlength">La contraseña debe ser de un máximo de 15
								carácteres</span>
						</div>

					</div>
					<!--BotonLogin-->
					<ion-button class="input" color="primary" type="submit" expand="block" [disabled]="!loginForm.valid">Iniciar Sesión
					</ion-button>
					<ion-button class="sombraBtn" [routerLink]="['/forget']" type="button" expand="block" color="green"
						fill="clear">¿No recuerdas tu contraseña? ¡Haz click aquí!
					</ion-button>
					
				</form>
			</div>
		</ion-grid>
	</div>
	<!--Footer-->
	<div class="footer">
		<h5 class="sombraSubTi">
			DuocUC®
		</h5>
	</div>
</ion-content>