<ion-content class="ion-padding background">
	<h1>Duoc UC</h1>
	<h3>Recuperar Contraseña</h3>
	<form #form="ngForm" (ngSubmit)="forget()" [formGroup]="forgetForm">

		<div class="input-group">
			<h4>Ingrese Datos</h4>
			<ion-item>
				<ion-input type="email" placeholder="Ingresa tu correo" formControlName="email"></ion-input>
			</ion-item>
			<div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
				<span *ngIf="email.errors?.required">El correo es obligatorio</span>
				<span *ngIf="email.errors?.email">El correo es invalido</span>
			</div>
			<ion-item>
				<ion-input type="password" placeholder="Ingresa tu nueva contraseña" formControlName="password">
				</ion-input>
			</ion-item>
			<div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
				<span *ngIf="password.errors?.required">La contraseña es obligatoria</span>
				<span *ngIf="password.errors?.minlength">La contraseña debe ser de al menos 6 carácteres</span>
			</div>
			<ion-item>
				<ion-input type="password" placeholder="Confirma tu nueva contraseña"
					formControlName="confirm_password"></ion-input>
			</ion-item>
			<div *ngIf="(confirm_password.dirty || confirm_password.touched) && confirm_password.errors" class="errors">
				<span *ngIf="confirm_password.errors?.required">La contraseña es obligatoria</span>
				<span *ngIf="confirm_password.errors?.minlength">La contraseña debe ser de al menos 6 carácteres</span>
				<span *ngIf="password.errors?.maxlength">La contraseña debe ser de un máximo de 15 carácteres</span>
				<div *ngIf="confirm_password.errors.confirmedValidator">Las contraseñas no coinciden</div>
			</div>
		</div>

		<ion-button type="submit" expand="block" [disabled]="!forgetForm.valid">Log in</ion-button>
		<ion-button [routerLink]="['/forget']" type="button" expand="block" color="green" fill="clear">No recuerdas tu
			contraseña? ¡Haz click aquí!
		</ion-button>
	</form>

	<ion-button (click)="mostrarUsuarios()">Click</ion-button>
</ion-content>