<ion-content>
	<!--Header-->
	<ion-card-header class="header">
		<ion-toolbar>
			<ion-buttons class="header">
				<ion-back-button  class="colorRegresar" defaultHref="login" text="Regresar" icon="arrow-back-outline"></ion-back-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-card-header>
	<!--Body-->
	<div class="fondo">
		<ion-grid>
			<div class="fondo__space" style="margin-bottom: 272px">
				<!--no me borren ugu-->
				<br>
				<br>
				<br>
				<img src="/assets/images/logoApp.png" class="logoApp">
				<h3 class="sombraSubTi">Ingrese sus datos</h3>
				<h3 class="sombraSubTi">Para recuperar su contraseña:</h3>
				<!--form validaciones-->
				<form id="forgetForm" #form="ngForm" (ngSubmit)="forget()" [formGroup]="forgetForm">
					<div class="input-group">
						
						<!--Correo-->
						<ion-card class="input">
							<ion-input type="email" placeholder="Ingresa tu Correo" formControlName="email"></ion-input>
						</ion-card>
						<div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
							<span *ngIf="email.errors?.required">El correo es obligatorio</span>
							<span *ngIf="email.errors?.email">El correo es invalido</span>
						</div>

						<!--Nueva Contraseña-->
						<ion-card class="input">
							<ion-input type="password" placeholder="Ingrese su Nueva Contraseña" formControlName="password"></ion-input>
						</ion-card>
						<div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
							<span *ngIf="password.errors?.required">La contraseña es obligatoria</span>
							<span *ngIf="password.errors?.minlength">La contraseña debe ser de al menos 6 carácteres</span>
						</div>

						<!--Confirmar Nueva Contraseña-->
						<ion-card class="input">
							<ion-input type="password" placeholder="Confirme su Nueva Contraseña"
								formControlName="confirm_password"></ion-input>
						</ion-card>
						<div *ngIf="(confirm_password.dirty || confirm_password.touched) && confirm_password.errors" class="errors">
							<span *ngIf="confirm_password.errors?.required">La contraseña es obligatoria</span>
							<span *ngIf="confirm_password.errors?.minlength">La contraseña debe ser de al menos 6 carácteres</span>
							<span *ngIf="password.errors?.maxlength">La contraseña debe ser de un máximo de 15 carácteres</span>
							<span *ngIf="confirm_password.errors.confirmedValidator">Las contraseñas no coinciden</span>
						</div>

					</div>
					<!--Boton-->
					<ion-button class="input" color="primary" type="submit" expand="block" [disabled]="!forgetForm.valid">Cambiar Contraseña
					</ion-button>

				</form>
			</div>
		</ion-grid>
	</div>
	<!--Footer-->
	<div class="footer">
		<h5 class="sombraSubTi">
			DuocUC®
		</h5>
	</div>
</ion-content>